body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: url(bgTCGC5.jpeg) no-repeat center center fixed;
    background-size: cover;
}
header {
    display: flex;
    justify-content: space-between;
    background: white;
    color: black;
    padding: 20px;
    text-align: center;
}
.header-img {
    width: 120px;  
    height: auto;
}
.text-container {
    display: flex;
    flex-direction: column;  /* <-- forces h1 on top and p under */
    justify-content: center;
    align-items: center;
    flex: 1;
    text-align: center;
}

.text-container h1 {
    margin: 0;
    font-size: 2rem;
}

.text-container p {
    margin: 5px 0 0 0;
    font-size: 1rem;
}
nav {
    background: green;
    padding: 10px;
    text-align: center;
    margin: 10px;
    border-radius: 5px;
}
nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover {
    color: black;
}
section {
    padding: 40px;
    max-width: 900px;
    margin: auto;
}
.hero {
    background: transparent;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 40px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px black;
    margin-top: 15px;
}
#mission {
    background: white;
    border: 3px solid transparent;
    border-radius: 10px;
    margin-top: 20px;
    opacity: 0;
    animation: fadeIn 2s forwards;
}
#programs {
    background: white;
    border: 3px solid transparent;
    border-radius: 10px;
    margin-top: 20px;
    opacity: 0;
    animation: fadeIn 2s forwards;
}
#volunteer {
    background: white;
    border: 3px solid transparent;
    border-radius: 10px;
    margin-top: 20px;
    opacity: 0;
    animation: fadeIn 2s forwards;
}
#contact {
    background: white;
    border: 3px solid transparent;
    border-radius: 10px;
    margin-top: 20px;
    opacity: 0;
    animation: fadeIn 2s forwards;
}
footer {
    background: darkgreen;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
.btn {
    display: inline-block;
    padding: 12px 20px;
    background: green;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    margin-top: 20px;
}
.btn:hover {
    background: #3a5988;
}
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}