* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: white;
}
.body {
    background: transparent;
    width: 330px;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 0 20px black;
    backdrop-filter: blur(5px);
}
.greet h3 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 25px;
    color: lightgreen;
}
.name input, .pass input {
    width: 280px;
    padding: 12px;
    margin-bottom: 15px;
    border: 2px solid gray;
    border-radius: 15px;
    outline: none;
    font-size: 15px;

}
.login a {
    display: inline-block;
    width: 100%;
    padding: 12px 0;
    background: lightgreen;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3px;
    text-align: center;
}
.login a:hover {
    background: rgb(175, 173, 173);
    color: black;
}
.checker input {
    margin-right: 8px;
}
.checker p {
    font-size: 14px;
    color: white;
    padding-left: 5px;
    padding: 10px 0;
}   
.checker {
    display: flex;
}
.tcgc {
    position: fixed;        /* stays in the background */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;            /* put behind everything */
}

.tcgc video {
    width: 100%;
    height: 100%;
    object-fit: cover;      /* makes video fill screen like background-size: cover */
}


